
<%= form_with model: @article do |form| %>
  <div >
    <%= form.label :title %><br>
   <%=form.text_field :title , class:"form-control col-sm-2 ml-2"%>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body , class:"form-control col-sm-2 ml-2"%><br>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :words %><br>
    <%= form.text_field :words , class:"form-control col-sm-2 ml-2"%><br>
    <% @article.errors.full_messages_for(:words).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Save Article", class:"btn btn-sm btn-primary m-2"%>
  </div>

<div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</div>
<% end %>